<!DOCTYPE html>
<html>
<head>
  <title>User Data</title>
</head>
<body>
  <h2>User Submitted Data</h2>
  <table border="1" cellpadding="10">
    <tr><th>Username</th><td><%= data.username %></td></tr>
    <tr><th>Email</th><td><%= data.email %></td></tr>
    <tr><th>Gender</th><td><%= data.gender %></td></tr>
    <tr><th>Hobbies</th><td><%= Array.isArray(data.hobbies) ? data.hobbies.join(", ") : data.hobbies %></td></tr>
    
    <tr>
      <th>Profile Pic</th>
      <td>
        <img src="/uploads/<%= data.profilePic %>" width="100">
        <br>
        <a href="/download/<%= data.profilePic %>">Download</a>
      </td>
    </tr>
    
    <tr>
      <th>Other Pics</th>
      <td>
        <% data.otherPics.forEach(f => { %>
          <div style="margin-bottom:10px;">
            <img src="/uploads/<%= f %>" width="100">
            <br>
            <a href="/download/<%= f %>">Download</a>
          </div>
        <% }) %>
      </td>
    </tr>
  </table>
</body>
</html>
